/*
Não é obrigatório, mas é importante resetar alguns estilos
para evitar problemas. Isso é possível
com os comandos abaixo.
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Body -> corpo da página.*/
body {
  width: 100;
  min-height: 100vh;
  background-color: rgb(243, 243, 243);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
/*Lado esquerdo*/
.instagram-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%; /*O tamanho do container ocupará 60% do bady.*/
  height: 100vh;
}
.instagram-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
/*Alterando o tamanho de imagens.*/
.instagram-phone img {
  height: 40rem;
  width: 20rem;
  margin-right: 12px;
}
/*Lado direito*/
.instagram-login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 30px;
  width: 260px;
  min-height: 60px;
}
.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 100%;
  padding: 1.3rem 0;
  border: 1px solid lightgray;
}
/*Pega o primeiro container*/
.group:nth-child(1) {
  min-width: 19rem;
}
.group:nth-child(2) {
  margin-top: 4px;
  width: 266px;
}
.instagram-font {
  height: 7rem;
}
.profile-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.profile-photo img {
  height: 10rem;
}
.instagram-login {
  height: 40px;
  width: 18rem;
  background-color: #0095f6;
  color: white;
  padding: 3px;
  border-radius: 8px;
  margin-top: 2rem;
}
.instagram-logout {
  color: #0095f6;
  margin-top: 0.5rem;
}
.not-account {
  color: rgb(160, 160, 160);
}
.link-blue {
  color: #0095f6;
  cursor: pointer;
}
.texto-get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
  color: #0095f6;
  margin-top: 9px;
  margin-bottom: -30px;
}
.dowload {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}
.logos-app {
  height: 3rem;
  width: 16rem;
  background-size: cover;
}
/*Tratando a responsividade para diferentes telas*/
@media (max-width: 1024px) {
  .instagram-wrapper {
    width: 50;
  }
}
/*Para celular...*/
@media (max-width: 650px) {
  body {
    background-color: #ffffff;
  }
  .instagram-wrapper {
    width: 90;
  }
  .instagram-phone {
    display: none; 
  }
  .instagram-login {
      height: 40px;
      width: 18rem;
  }
  .dowload {
    border: 1px solid transparent;
  }
}
